
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
}

.carrer {
  color: red;
  font-weight: bold;
}


.major {
  color: green;
  font-weight: bold;
}

.location{
font-weight: bold;
}

.duties{
font-weight: bold;
}
